/* firts page */
/* header */
* {
  -webkit-tap-highlight-color: transparent !important;
}
html {
  overflow-x: hidden;
}
/* кастомыне переносы цены 530px */
.cs-hidden-price {
  display: none;
}
.cs-inline-price {
  display: inline;
}

@media (min-width: 530px) {
  .cs-hidden-price {
    display: inline;
  }
  .cs-inline-price {
    display: none;
  }
}

@font-face {
  font-family: "SrirachaRU";

  src: url("../font/srirachacyrillic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.font-SrirachaRU {
  font-family: "SrirachaRU";
}
.font-Unbounded {
  font-family: "Unbounded", sans-serif;
}
.font-Messiri {
  font-family: "El Messiri", sans-serif;
}
.bod {
  height: 100vh;
  width: 100vw;
  background-image: url("/img/ShinyOverlay.svg");
}
.containerr {
  width: 160px;
  height: 200px;
}
.text-balance {
  text-wrap: balance;
}
.blockk {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 20px 20px 0;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  background: #5050a2;
}
.blockk:nth-child(4n + 1) {
  animation: wave 2s ease 0s infinite;
}
.blockk:nth-child(4n + 2) {
  animation: wave 2s ease 0.2s infinite;
}
.blockk:nth-child(4n + 3) {
  animation: wave 2s ease 0.4s infinite;
}
.blockk:nth-child(4n + 4) {
  animation: wave 2s ease 0.6s infinite;
  margin-right: 0;
}

body {
  /* background-color: #131b23; */
  background-color: rgb(255 251 235);
  /* background-color: #f1f5f9; */

  overflow-x: hidden;
}
.overflow-x {
  overflow-x: auto !important;
}
#root {
  overflow-x: hidden;
}
.bg-blur {
  background-color: #39425072;
}
.naming {
  font-size: 30px;
  font-family: "Play", sans-serif;
}
.bg-img-text {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center center;
  /* background-image: url(/img/text.webp); */
  background-image: url(/img/bgTextWarm.webp);
}
.bg-img-mgu {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center center;

  background-image: url(/img/mggu.jpg);
}

.bg-img-summer {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center center;
  /* background-image: url(/img/text.webp); */
  background-image: url(/img/bgSummerPhone.webp);
}
@media (min-width: 600px) {
  /* .bg-img-text {
    background-image: url(/img/bgTextWarm.webp);
  } */
  .bg-img-summer {
    background-image: url(/img/bgSummer.webp);
  }
}
.bg-img-summer-big {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

  background-position: center center;
  /* background-image: url(/img/text.webp); */
  background-image: url(/img/bgSummerBig.webp);
}
.bg-amber-50-opacity {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 251, 235, 0.652) /* #fffbeb */;
}

.vertical-text {
  writing-mode: sideways-lr;
}

.bg-img-new-4 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center center;

  background-image: url(/img/new4.jpg);
}
.bg-img-new-4:hover {
  background-image: url(/img/new4hv.jpg);
}
.bg-img-new-4-cl {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center center;

  background-image: url(/img/new4cl.jpg);
}
.bg-img-new-4-cl:hover {
  background-image: url(/img/new4hvcl.jpg);
}
.play {
  font-family: "Play", sans-serif;
}

.shadow-no-blur {
  box-shadow: 6px 6px rgb(69 26 3);
}

/* background */
.bg-raisin {
  background-color: #1e1e24;
}
.bg-ash-gray {
  background-color: #9fb8ad !important;
}
.bg-charcoal {
  background-color: #2e4057;
}
.bg-rich-black {
  background-color: #131b23;
}
.bg-platinum {
  background-color: #e6e8e6;
}

.bg-d-cyan {
  background-color: #00f5d4;
}
.bg-d-purple {
  background-color: #8384e9;
}
.bg-d-pink {
  background-color: #e2eafc;
}
.bg-d-yellow {
  background-color: #fee440;
}
.bg-d-sky {
  background-color: #45cefb;
}
.bg-d-green {
  background-color: #a9f52e;
}
.bg-tea-green {
  background-color: #cfffb0;
}

.bg-d-orange {
  background-color: #f8961e;
}
.bg-ash-gray-to-rich-bg-black {
  background: rgb(19, 27, 35);
  background: linear-gradient(
    0deg,
    rgba(19, 27, 35, 1) 50%,
    rgba(159, 184, 173, 1) 50%
  );
}
.bg-rich-black-to-ash-gray {
  background: rgb(19, 27, 35);
  background: linear-gradient(
    0deg,
    rgba(159, 184, 173, 1) 50%,
    rgba(19, 27, 35, 1) 50%
  );
}
.bg-white-to-amber-50 {
  background: #ffffff;
  background: linear-gradient(0deg, rgb(255 251 235) 50%, #ffffff 50%);
}
.bg-rich-bg-black-to-white {
  background: rgb(19, 27, 35);
  background: linear-gradient(0deg, #e6e8e6 50%, rgba(19, 27, 35, 1) 50%);
}
.bg-platinum-to-rich-black {
  background: rgb(19, 27, 35);
  background: linear-gradient(0deg, rgba(19, 27, 35, 1) 50%, #e6e8e6 50%);
}
.bg-rich-black-to-platinum {
  background: rgb(230, 232, 230);
  background: linear-gradient(
    0deg,
    rgba(230, 232, 230, 1) 50%,
    rgba(19, 27, 35, 1) 50%
  );
}

.bg-split-rich-black-to-charcoal {
  background: linear-gradient(
    0deg,
    rgba(19, 27, 35, 1) 50%,
    rgba(46, 64, 87, 1) 50%
  );
}

.text-rich-black {
  color: #131b23;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
.robotoMono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.robotoMonoRegular {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
}
.h-13 {
  height: 3.2rem /* 48px */;
}
/* underline */
.underline-1 {
  width: 150px;
}

.wd-100 {
  height: 17px;
  width: 100%;
}
@media (min-width: 440px) {
  .xs-px-5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}
/* space*/
.tracking-tighter-dt {
  letter-spacing: -0.1em;
}

/* img */
.img-rep {
  width: 800px;
}

/* Achievements */

.rounded-6xl {
  border-radius: 50px;
}
.rounded-b-6xl {
  border-radius: 0 0 50px 50px;
}

.rounded-4xl {
  border-radius: 2rem;
}

.click {
  width: 100px;
}

.pt-100 {
  padding-top: 250px;
}

.ps-100 {
  padding-left: 250px;
}
.pb-100 {
  padding-bottom: 250px;
}
.pe-200 {
  padding-right: 250px;
}
.-ms-120 {
  margin-left: -450px;
}
.plane {
  width: 200px;
}
.pen {
  width: 130px;
}
.star {
  width: 150px;
  transform: rotate(-20deg);
}
/* vuz university  */
.vuz-block {
  width: 120px;
}
.shadow-vuz {
  box-shadow: 2px 2px 4px 0px #2e4057, 2px 4px 8px 0px #2e4057;
}
.shadow-video {
  box-shadow: 0px 0px 70px -5px #55ffc3;
}
.videos {
  flex-direction: column;
}
@media (min-width: 900px) {
  .videos {
    height: 600px;
    flex-direction: row;
  }
}
.border-d-b {
  box-shadow: 15px 15px 30px -12px rgba(106, 106, 106, 0.25);
}
.shadow-map {
  box-shadow: 0 25px 50px -12px rgba(212, 212, 212, 0.25);
}
/* scroll */

body::-webkit-scrollbar {
  width: 10px; /* Ширина всего элемента навигации */
}

body::-webkit-scrollbar-track {
  background: white; /* Цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: #1c2125; /* Цвет бегунка */
  border-radius: 20px; /* Округление бегунка */
  border: 3px solid #1c2125; /* Оформление границ бегунка */
}

/* buuton */

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 350%;
    margin-left: 80px;
  }
  100% {
    left: 450%;
    margin-left: 80px;
  }
}

.btn-test::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 142, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(10em, 20em);
}

.btn-test:after,
.btn-test:after {
  animation: sheen 6s forwards;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(-80em, -150em);
  }
}
.btn-test {
  color: #fff;

  position: relative;
  overflow: hidden;
  line-height: 32px;
}

/* slider */
.link-map-rev-ww {
  width: 100%;

  background: #fff;
  overflow: hidden;
  position: relative;
}
.link-map-rev-i {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}
.link-map-rev {
  box-sizing: border-box;
  text-decoration: none;
  color: #b3b3b3;
  font-size: 10px;
  font-family: YS Text, sans-serif;
  padding: 0 20px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-height: 14px;
  white-space: nowrap;
  padding: 0 16px;
  box-sizing: border-box;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.bg-mgu {
  background-image: url("/img/mguBg.webp");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center center;
}
.myweb {
  height: 3em;
  transition: 400ms;
}

.myweb:active {
  transition: 0.2s;
  height: 2.8em;
}
.img-rew {
  width: 79px;
  height: 79px;
  border-radius: 100%;
}

.hid-par {
  grid-row: span 2 / span 2;
}

.w-full-bt {
  width: 100%;
}
@media (min-width: 465px) {
  .w-full-bt {
    width: auto;
  }
}

.flex-sk {
  display: grid !important;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 20px;
  margin-top: 40px;
}
@media (min-width: 465px) {
  .gridl {
    grid-template-rows: repeat(5, minmax(0, 1fr));
  }
  .hid-par {
    grid-row: span 1 / span 1;
  }
  .flex-sk {
    display: flex !important;
  }
  .btn-tp {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  .hidden-465 {
    display: none;
  }
}
@media (min-width: 580px) {
  .justify-center-d {
    justify-content: center !important;
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.bg-deep-blue {
  background-color: #344077;
}

.bg-glaucous {
  background-color: #26547c;
}

.bg-emerald {
  background-color: #06d6a0 !important;
}

.eee {
  background-color: #9fb8ad !important;
  font-family: "Play", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  height: 100svh;
}
.Dme-10 {
  margin-bottom: 1.5rem;
}
.mdDtflex-row {
  flex-direction: column;
}
.px938JsCenter {
  width: 100%;
  justify-content: center;
}
@media (min-width: 938px) {
  .px938JsCenter {
    justify-content: start;
  }
  .mdDtflex-row {
    flex-direction: row;
  }
  .Dme-10 {
    margin-inline-end: 2.5rem /* 40px */;
    margin-bottom: 0rem;
  }
}
.rel-rew {
  width: 500px;
  height: 550px;
  overflow: hidden;
  position: relative;
}
.rel-rewss {
  width: 100%;
  height: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-sizing: border-box;
}
.rel-link-s {
  box-sizing: border-box;
  text-decoration: none;
  color: #b3b3b3;
  font-size: 10px;
  font-family: YS Text, sans-serif;
  padding: 0 20px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  left: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-height: 14px;
  white-space: nowrap;
  padding: 0 16px;
  box-sizing: border-box;
}
.wd-nums-serv {
  width: 40px;
  height: 40px;
}
.hg-nums-serv {
  height: 40px;
}

.me-5-sp {
  margin-inline-end: 0.5rem;
}
.me-6-sp {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.2rem;
}
.sms-text-end {
  text-align: end;
  padding-right: 10px;
}
.no-bg-400 {
  background-image: none !important;
}
@media (min-width: 416px) {
  .wd-nums-serv {
    width: 80px;
    height: 80px;
  }
  .hg-nums-serv {
    height: 80px;
  }
  .me-5-sp {
    margin-inline-end: 1.25rem /* 20px */;
  }
  .me-6-sp {
    margin-inline-end: 1.5rem;
  }
  .sms-text-end {
    text-align: start;
  }
  .no-bg-400 {
    background-image: linear-gradient(
      to left,
      var(--tw-gradient-stops)
    ) !important;
  }
}

.endst {
  top: 9px;
  left: 999999px;
}

@media (min-width: 1280px) {
  .text-8_5xl {
    font-size: 110px;
    line-height: 110px;
  }

  .text-2_5xl {
    font-size: 28px; /* 24px */
    line-height: 30px; /* 32px */
  }

  .text-2_6xl {
    font-size: 26px; /* 24px */
    line-height: 28px; /* 32px */
  }
}

.text-6xlCS {
  font-size: 2.5rem;
  line-height: 1;
}

@media (min-width: 400px) {
  .text-6xlCS {
    font-size: 2.8rem;
    line-height: 1;
  }
}
@media (min-width: 430px) {
  .text-6xlCS {
    font-size: 3.2rem;
    line-height: 1;
  }
}
@media (min-width: 450px) {
  .text-6xlCS {
    font-size: 3.5rem;
    line-height: 1;
  }
}

@media (min-width: 480px) {
  .text-6xlCS {
    font-size: 4rem;
    line-height: 1;
  }
}
@media (min-width: 640px) {
  .text-6xlCS {
    font-size: 4rem;
    line-height: 1;
  }
}
